<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
<form method="post" th:action="@{/register}" th:object="${accountModel}">
<tr><td><label for="name">名前</label></td>
	<td><input type="text" name="username" th:value="*{username}" /></td></tr>
<tr><td><label for="password">パスワード</label></td>
	<td><input type="password" name="password" th:value="*{password}">
<tr><td></td><td><input type="submit" /></td></tr>
</form>
<p th:if="${param.error}">ログインに失敗しました</p>
</table>
</body>
</html>